* {
    --yellow: #ffde00;
    --lightgrey: #f9f8f3;
    --darkgrey: #f2f1ea;
    --black: #000000;
    --white: white;
}
* {
    padding:0;
    margin:0;
}
body, html {
    box-sizing:border-box;
}

body {
    background-color:var(--lightgrey);
    font-family: 'Oxygen', sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows:repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: stretch;
    justify-content: stretch;
    align-content: stretch;
    grid-auto-flow: dense;
    padding:20px;
}

i {
    margin-right:10px;
}
.grid {
    background-color: var(--white);
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.temp {
    background-color: var(--yellow);
    font-size: 5vw;
}
.date {
    font-size: 3vw;
    font-style: italic;
}
.windforce{

}
.windDirection {
    grid-column-start: span 2;
    grid-row-start: span 2;
    padding:10px;
    background-color: rgba(0,0,0,0);
}
.compass {
    background-color: var(--white);
    border-radius: 100%;
    min-width:200px;
    min-height:200px;
    position: relative;
    background-image: url('compass2.svg');
    background-size: contain;
    background-position: center center;
}
.compass__hand {
    width:80%;
    margin: 10% 10%;
    height:80%;
    position: absolute;
    transform: rotate(90deg);
    background-image: url("arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.09, 1.42, 0.46, 1.25);
}
.compass__force {
    position:absolute;
    height:14%;
    width:14%;
    border-radius: 100px;
    border: 2px solid var(--black);
    background-color: var(--white);
    top:43%;
    left:43%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.googleFontSample{
    font-size: 20px;
    grid-column-start: span 3;
}